@model Contacts
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewData["Title"] = "Delete Contact";
}

<h3>Would you like to delete this contact?</h3>
<h4>@Model.FirstName @Model.LastName</h4>

<form asp-action="Delete" method="post">
  <div asp-validation-summary="All" class="text-danger"></div>

  <input type="hidden" asp-for="ContactId" />

  <button type="submit" value="Submit" class="btn btn-primary">Yes</button>
  <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">No</a>

</form>

