<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d4da1453-b1d5-4878-9187-32ec77b878f2/resourceGroups/INFO3360PS/providers/Microsoft.Web/sites/PSProject10</ResourceId>
    <ResourceGroup>INFO3360PS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://psproject10.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://psproject10.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$PSProject10</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>